$primary-color: #000;
$secondary-color: #fff;
$accent-color: #4caf50;
$button-color: #29de72;
$tree-color: #404040;
$minus-color: #838383;
$font-stack: 'Raleway', sans-serif;
$normal: 300;
$container-width: 1200px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
